/* General body styles */
body {
 
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

/* Header Styles */
header {
  background-color: #f8f9fa;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

header h1 {
  font-size: 2.5rem;
  color: #343a40;
}

header p {
  color: #6c757d;
  font-size: 1.1rem;
}

/* Main container */
.container {
  margin-top: 30px;
}

/* Button Styling */
button {
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 25px;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  transform: scale(1.05);
}

/* Style for Live and Upcoming Auction Buttons */
.btn-secondary,
.btn-outline-secondary {
  font-weight: bold;
  padding: 10px 20px;
  background-color: #9500ff;
  color: white;
  border: none;
  border-radius: 20px;
}

.btn-outline-secondary {
  background-color: transparent;
  border: 2px solid #9500ff;
  color: #343a40;
}

.btn-outline-secondary:hover {
  background-color: #9500ff;
  color: white;
}

/* Scroller Container */
.scroller-container {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  height: 300px;
  overflow-y: scroll;
  border: 2px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Styling the List Items */
.scroller-container h5 {
  font-size: 1.5rem;
  color: #9500ff;
  margin-bottom: 15px;
}

.scroller-container p {
  color: #495057;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.scroller-container p:hover {
  color: #9500ff;
  cursor: pointer;
}

/* Login Section Styling */
.col-md-2 button {
  font-size: 1.1rem;
  padding: 12px 15px;
  margin-bottom: 10px;
  border-radius: 25px;
  transition: transform 0.3s;
}

.col-md-2 button:hover {
  transform: scale(1.05);
}

/* Contact Us Section */
.text-center {
  font-size: 1.2rem;
}

.text-center h5 {
  color: #9500ff;
}

/* Footer Styling */
footer {
  background-color: #f8f9fa;
  padding: 20px;
  border-top: 1px solid #ddd;
}

footer p {
  color: #6c757d;
  font-size: 1rem;
}